@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid rgba(21, 21, 21, 0.16);
}
h1 {
  font-size: 32px;
  font-family: Oxygen;
  font-weight: bold;
  color: #2e3333;
}

header img {
  width: 170px;
  margin-left: 20px;
}

.header-bottom p {
  color: #2e3333;
  font-size: 19px;
  margin-top: 50px;
  width: 700px;
}

.header-bottom {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.header-bottom img {
  width: 350px;
}
header-bottom .col1 {
  margin: 20px;
}

.header-bottom .col1 p {
  color: #868a8a;
}

.header-bottom .col2 img {
  border-radius: 7px;
}

main {
  background-color: #f3f5f5;
  display: flex;
}

.category {
  display: flex;
  flex-wrap: wrap;
}
main h2 {
  color: #2e3333;
  font-weight: bold;
  font-size: 24px;
  font-family: Oxygen;
  padding: 20px;
}

main img {
  width: 140px;
  height: 130px;
  object-fit: cover;
  border-radius: 30px;
}
/* .dis-mm {
  display: flex;
  flex-direction: row;
  width: 10%;
} */
.menu-mini {
  background-color: white;
  width: 400px;
  height: 170px;
  display: flex;
  margin: 20px;
  padding: 20px;
  display: flex;
}

.menu-mini h3 {
  color: #2e3333;
  font-family: -apple-system, BlinkMacSystemFont;
  font-size: 18px;
  font-weight: regular;
  max-width: 230px;
}
.menu-mini p {
  color: #808484;
  font-family: -apple-system, BlinkMacSystemFont;
  font-size: 14px;
  font-weight: regular;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5em;
  line-height: 2em;
  max-width: 230px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.menu-mini img {
  margin-left: 20px;
}

#price {
  font-size: 17px;
}

.Populaire {
  margin-left: 30px;
  color: #ff8000;
}

.Panier {
  background-color: white;
  height: 200px;
  width: 500px;
  right: 0;

  height: 500px;
  font-family: Oxygen;
  font-size: 20px;
}
.Panier h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  background-color: #00ccbc;
  text-align: center;
  padding: 15px;
  margin-left: 20px;
  width: 230px;
  border-radius: 3px;
  margin-top: 15px;
  color: white;
}

.Panier p {
  text-align: center;
  margin-top: 7px;
}
.col1-left {
  width: 75%;
}

.Panier button {
  cursor: pointer;
  border: 1px solid #00ccbc;
  outline: none;
  border-radius: 100%;
  background-color: white;
  margin: 7px;
  color: #00ccbc;
}

.Panier-produit div {
  padding: 3px;
  margin-left: 30px;
  margin-top: 16px;
}

.Panier-produit span {
  padding: 6px;
}

.PricePanier {
  margin-left: 30px;
}

.fraislivr {
  display: flex;
  justify-content: space-around;
}

.totalpr {
  display: flex;
  justify-content: space-around;
}

.SubPrice {
  display: flex;
  justify-content: space-around;
}
